    <div class = "login-background">
	
	<style>
	body 
	{
   	 	background: url('images/lilypad.jpg') fixed;
    	background-size: cover;
    	padding: 0;
    	margin: 0;
	}
	</style>
</div>
<div class="navbar">
    <img src="images/bloghopper.gif" ></img>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with</label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Welcome</p>
                <form class="login">
                <input ng-show="show" type="text" placeholder="Username" />
                <input ng-show="show" type="password" placeholder="Password" />
                <input type="submit" ng-click="show=true" value="Sign In" class="btn btn-success btn-sm" />
                <input type="submit" value="Sign Up" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal"/>
                <div ng-controller="loginCtrl">
                </div>
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body">
                        <h1 ng-hide="userInput">User Sign Up</h1>
                        <input ng-hide="userInput" type="text" placeholder="First Name" required/>
                        <input ng-hide="userInput" type="text" placeholder="Last Name" required/>
                        <input ng-hide="userInput" ng-minlength=3 type="email" placeholder="Email" required/>
                        <input ng-hide="userInput" ng-minlength=8 type="password" placeholder="Password" required/>
                        <input ng-hide="userInput" ng-minlength=8 type="password" placeholder="Password" required/>
                        <button type="button" ng-hide="userInput" class="btn btn-default" data-dismiss="modal">Submit</button>
                    <input type="submit" ng-click="toggle1()" value="User" class="btn btn-success btn-sm" />
                        <h1 ng-hide="bloggerInput">Blogger Sign Up</h1>
                        <input ng-hide="bloggerInput" type="text" placeholder="First Name" required/>
                        <input ng-hide="bloggerInput" type="password" placeholder="Last Name" required/>
                        <input ng-hide="bloggerInput" ng-minlength=3 type="email" placeholder="Email" required/>
                        <input ng-hide="bloggerInput" type="text" placeholder="Blog URL" required/>
                        <input ng-hide="bloggerInput" ng-minlength=8 type="password" placeholder="Password" required/>
                        <input ng-hide="bloggerInput" ng-minlength=8 type="password" placeholder="Password" required/>
                        <button type="button" ng-hide="bloggerInput" class="btn btn-default" data-dismiss="modal">Submit</button>
                    <input type="submit" ng-click="toggle2()" value="Blogger" class="btn btn-success btn-sm" />
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</div>




