<div class = "login-background">
    
    <style>
    body 
    {
        background: url('images/lilypad.jpg') fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
    }

    .navbar
    {
    display: none !important;
    }
    </style>
</div>
<div class="logo">
    <img src="images/bloghopper.gif" ></img>
</div>
<div class="password-reset">
	<div class="row">
    	<div class="col-md-12">
        	<div class="wrap">
            	<p class="form-title">
                	Enter email<br> you signed up with</p>
            	<form class="login">
            	 <input type="email"  placeholder="Email"/>
            	<input type="submit" value="Reset Password" class="btn btn-success btn-sm" />
            	<div ng-controller="fpCtrl">
            	</div>
            	</form>
        	</div>
    	</div>
	</div>
</div>