/*Navbar*/
.navbar
{
    background: white;
    border: none;
    z-index: 999;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding-bottom: 17px;
    min-height: 93px;
}

.navbar img
{
    height: 75px;
    width: 150px;
    margin-top: -6px;
}

.navbar-toggle:hover
{
    background-color: #B3B9B3;
}

.navbar-form .form-control 
{
    display: inline-block;
    width: 240px;
    vertical-align: middle;
}

.form-control
{
    margin-top: 19px;
    background: 0;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.btn
{
    margin-top: 15px;
    height: 35px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    background-color: #194719;
    letter-spacing: 2px;
    color: white;
}

.btn:hover
{
    transition:0.5s ease;
    background-color: #B3B9B3;
    color: #194719;
}

.dropdown
{
    margin: 20 20 0 15;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form 
{
    border-color: transparent;
}

.navbar-nav .open .dropdown-menu 
{
    width: auto;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover 
{
    width: auto;
    color: #194719;
    background-color: #B3B9B3;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse 
{
  max-height: 390px;
}


/*Logo*/
.logo img
{
    height: 190px;
    width: 320px;
    position: relative;
    display: block;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
}

/*Login*/
.login-background
{
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 38px;
    font-weight: 600;
    text-align: center;
    color: #405040;
    margin-top: 1%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 295px;
    margin: 0 auto;
}

form.login input[type="email"], form.login input[type="password"], form.login input[type="placeholder"], form.text-danger
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
}


form.login input[type="submit"]
{
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    background-color: #194719;
    letter-spacing: 2px;
}

::-webkit-input-placeholder { color:#405040; }
::-moz-placeholder { color:#405040; } /* firefox 19+ */
:-ms-input-placeholder { color:#405040; } /* ie */
input:-moz-placeholder { color:#405040; }


form.login input[type="submit"]:hover
{
    transition:0.5s ease;
    background-color: #B3B9B3;
    color: #194719;
}

form.login .remember-forgot
{
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

form.login a
{
    transition: 0.3s ease;
    color:#405040;
}

p1
{
    width: 33%;
    outline: 0;
    cursor: pointer;
    background-color: #194719;
    margin-left: 11%;
    margin-top: 5%;
}

form.login a:hover
{
    color: #2ecc71;
}

/*Forgot Password*/

.password-reset p
{
    font-size: 29px;
    text-align: center;
    margin-bottom: 20px;
}



/*Modal*/

h4.modal-title, .modal-body h1
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    color: #405040;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 4px;    
}

.modal-body input[type="submit"]
{
    width: 110px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    outline: 0;
    cursor: pointer;
    background-color: #194719;
    margin: 10 40 10 98;
}

.modal-body input[type="submit"]:hover, .modal-footer button[type="button"]:hover, .modal-body button[type="button"]:hover

{
    transition:0.5s ease;
    background-color: #B3B9B3;
    color: #194719;
}

.modal-footer button[type="button"], .modal-body button[type="button"]
{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #194719;
    color: white;
}

.modal input[type="text"], .modal input[type="password"],.modal input[type="email"], .modal input[type="placeholder"] 
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #B3B9B3;
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/*Home*/

.container-home 
{
  width: 90%;
  margin: 160px auto;
  position: relative;
  text-align:center;
}

div.r 
{
    display: inline-block;
    margin: 20px;
    height: 250px;
    width: 250px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}




